/* Round button corners */
.btn {
  border-radius: 4px;
}
.btn-lg {
  border-radius: 6px;
}

/* Allow disabled buttons to have tooltips */
.btn:disabled, .btn.disabled, fieldset:disabled .btn {
  pointer-events: auto;
}

/* Hidden button class used when lazy loading packages and data */
.btn-hidden {
  display: none;
}

/* Create the logoWrapper class which allows us to insert the SeptiSearch */
/* logo as the "background" of the jumbotrons */
@media only screen and (max-width: 767px) {
  .logoWrapper-home {
    background: url('../img/septisearch_wrapper.svg') no-repeat center top;
    background-size: contain;
  }

  .logoWrapper-about {
    background-image: url('../img/septisearch_wrapper.svg');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 480px;
  }
}

@media only screen and (min-width: 768px) {
  .logoWrapper-home {
    background: url('../img/septisearch_wrapper.svg') no-repeat right;
    background-size: contain;
  }

  .logoWrapper-about {
    background-image: url('../img/septisearch_wrapper.svg');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 480px;
  }
}

/* Give regular modal dialogs the attributes of "modal-dialog-centered" */
.modal-dialog {
  display: flex;
  align-items: center;
  min-height: calc(100% - var(--bs-modal-margin) * 2);
}

/* Increase size of the progress bar when uploading files */
.progress {
  height: 1.5rem;
}
.progress .progress-bar {
  background-color: #5bc0de;
  color: #373a3c;
  font-size: 1rem;
  line-height: 1.33rem;
}
