/* Making the top-left title bigger, while maintaining proper vertical
   alignment in the navbar */
.navbar-brand {
  font-size: 40px;
  line-height: 1.6;
  padding-top: 0
}


/* Reduce the padding on jumbotron elements and h1 headers */
.jumbotron {
  padding: 20px;
}

.container .jumbotron,
.container-fluid .jumbotron {
  padding-right: 30px;
  padding-left: 30px;
}

h1 {
  margin-top: 11px;
}


/* Custom object ID for inserting the Github logo in the top-right corner */
#img-id {
  position: absolute;
  right: 15px;
  top: -5px;
  bottom: 0;
  height: 25px;
}


/* Slight bump on font size for list items and add some extra space between
   list elements */
dt {
  /*font-size: 1.1em;*/
  padding-top: 10px;
}


/* Indent defined list terms, without needing to use bullets; increased font
   size slightly. */
dl dd {
  margin-left: 1em;
  /*font-size: 1.1em;*/
}

@media only screen and (max-width: 767px) {
  .logoWrapper {
    background: url('../septisearch_wrapper.svg') no-repeat center top;
    background-size: contain;
  }
}

@media only screen and (min-width: 768px) {
  .logoWrapper {
    background: url('../septisearch_wrapper.svg') no-repeat right;
    background-size: contain;
  }
}

.shiny-notification-warning {
  /*color: black;*/
  opacity: 1;
  font-size: 1.25em;
}
